.MainContainer {
    height: 1100px;
    width: 50vw;
    min-width: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 675px;
    height: 25px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 40px;
    border:1px solid #519872;

} 
img {
    margin-bottom: 60px;
}
h5 {
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 20px;
}
.button1{
    background-color: #8AEA92;
    height: 40px;
    width: 130px;
    border: none;
    font-weight: bold;  
    margin-right: 25px;  
    font-size: 15px;     
}
.button2{
    background-color: #3B5249;
    height: 40px;
    width: 130px;
    border: none;
    color: white;   
    font-size: 15px;     
    font-weight: bold;     
}